/* .App{
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 60px;
  
  height: 100%;
  width: 100%;  
}
.App-work{
  display: block;
  justify-content: center;
  align-items: center;
 

}
.loader-icon{
  position: absolute;
  left: 45%;
  top: 40%;
}
.icon{
  font-size: 50px;
  position: fixed;
  right: 50%;
  top: 10px;

}
.app-dark{
  background-color: #000;
  color: white;
} */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  padding: 1px;
  
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  box-shadow: 2px 2px 2px 2px rgb(231, 226, 226);
  width: 80%;
  position: absolute;
  right: 10%;
  top: 18%;
  gap: 20px;
  display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem,1fr));
    gap:1.rem ;
}
.box{
  padding: 5px;
  display: block;
  justify-items: center;
  justify-content: center;
  align-items: center;

}
h1{
  text-align: center;
  text-transform: uppercase;

}
img{
  height: 300px;
  width: 300px;

}
p{
  font-size: 15px;
  opacity: 0.8;

}
.main{
  text-align: center;
}
input{
  padding: 10px 60px;
  border-radius: 5px;
  border: none;
  background-color: pink;
  margin-left: -100px;
  margin-top: 20px;
}
