*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    /* position: absolute;
    left: 10%;
    top: 20%; */
    margin: auto;
    height: 200px;
    width: 300px;
    padding: 20px;
    background-color: rgb(107, 107, 170);

}
img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 80px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}